@tailwind base;
@tailwind components;
@tailwind utilities;

img#account-hover {
  width: 30px;
  border-radius: 50%;
}

#nav-account-details {
  left: 100%;
  width: 200px;
  transform: translateX(-100%);
}
